<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Rick et Morty API</title>
        <link rel="stylesheet" type="text/css" href="./style.css" media="all" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>

    <body>
        <div id="demo">
            <select v-model="selected">
                <option disabled value="">Choisissez</option>
                <option>Personnages</option>
                <option>Episodes</option>
            </select>
            <input v-model="research" placeholder="tapez votre recherche">
            <button @click="request">Send</button>
            <div> 
                <ul v-if="selected === 'Personnages'">
                    <li v-for="perso in personnages"  class="container">
                        <img :src=perso.image>
                        <div>
                            <p>Nom : {{perso.name}}</p>
                            <p>Status : {{perso.status}}</p>
                            <p>Espèce : {{perso.species}}</p>
                        </div>
                    </li>
                </ul>
                <ul v-if="selected === 'Episodes'">
                    <li v-for="episode in episodes"  class="container">
                        <video controls width="auto">
                            <source type="video/webm" :src=episode.url>
                            <source type="video/mp4" :src=episode.url>
                        </video>
                        <div>
                            <p>Titre : {{episode.name}}</p>
                            <p>{{episode.episode}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       
        <script>
            const apiURL = 'https://rickandmortyapi.com/api/'

            const demo = new Vue({
                el: '#demo',
                data: {
                    personnages: [],
                    episodes: [],
                    requestReturn: [],
                    research: "",
                    selected: "",
                },
                methods: {
                    request: function() {
                        if (this.selected == "Personnages") {
                            axios.get(apiURL + "character/?name=" + this.research)
                                .then((response) => {
                                    this.personnages = response.data.results
                                })
                                .catch((error) => {
                                    console.log(error);
                                })
                        } else if (this.selected == "Episodes") {
                            axios.get(apiURL + "episode/?episode=" + this.research)
                                .then((response) => {
                                    this.episodes = response.data.results
                                })
                                .catch((error) => {
                                    console.log(error);
                                })
                        }
                    },
                }
            })
        </script>
    </body>
</html>
