body {
    background-image: url("./ricketmorty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#demo {
    margin-top: 10%;
    margin-inline: 10%;
    background-color: rgb(231, 229, 229);
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 2%;
}

#text {
    margin-left: 2%;
}